* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: rgb(220, 12, 12);
  text-transform: uppercase;
  font-style: none;
  margin-bottom: 5px;
}

header {
  background-color: rgb(243, 243, 243);
  padding: 20px 40px;
  margin-bottom: 30px;
}

:link .link {
  text-decoration: none;
  color: rgb(40, 91, 163);
}

h2 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: rgb(40, 91, 163);
  margin-bottom: 20px;
}

.The-Smart {
  width: 800px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(40, 91, 163);
}

button {
  margin-bottom: 40px;
  margin-top: 5px;
  padding: 8px 10px;
  background-color: rgb(243, 243, 243);
  font-size: 18px;
  text-transform: none;
}

.button-link {
  text-decoration: none;
  font-size: medium;
  padding: 5px 10px;
  display: inline-block;
}

a:link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(40, 91, 163);
}

a:hover {
  color: rgb(220, 12, 12);
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: rgb(40, 91, 163);
}

a {
  color: rgb(40, 91, 163);
}

p {
  font-size: 20px;
  line-height: 30px;
  color: rgb(101, 101, 101);
}

h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(40, 91, 163);
}

.list-items {
  margin-bottom: 20px;
  padding: 0px 20px;
  color: rgb(101, 101, 101);
  font-size: 20px;
  line-height: 30px;
  list-style: square;
}

.link {
  font-size: 14px;
  padding-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:last-child {
  padding-right: 0;
}

.image {
  width: 600px;
  margin-top: 20px;
}

footer p {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgb(220, 12, 12);
  color: white;
  text-align: center;
  padding: 10px 0px;
  border-top: 4px solid rgb(40, 91, 163);
}

body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  border-top: 10px solid rgb(40, 91, 163);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
